@model IEnumerable<Articles.Models.Article>

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var username = User.Identity.Name;

    Articles.Data.ArticleDAO dao = new Articles.Data.ArticleDAO();

    var user = dao.GetIdByUsername(username);
}

<div class="container">
    <div class="d-flex justify-content-between">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <button class="textlink btn btn-primary" onclick="window.location.href='@Url.Action("Create", "Article")'">Add</button>
        }
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("ExportToExcel", "Article")'">Export</button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
               @{ 
                 var n=  dao.GetRatingByUserId(user, item.ID);
                 <span>@n</span>
               }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                {
                    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "Article", new { id = item.ID })'">Rate</button>

                }

                <button class="btn btn-success" onclick="window.location.href='@Url.Action("Details", "Article", new { id = item.ID })'">Details</button>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Edit", "Article", new { id = item.ID })'">Edit</button>
                    <button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delete", "Article", new { id = item.ID })'">Delete</button>

                }


            </td>
        </tr>
    }

</table>